# imports and loading DataFrame

In [3]:
import seaborn as sns
import pandas as pd
import datetime

# fact table
sessions_df = pd.read_json("data/sessions.jsonl", lines=True)

# dimension tables
deliveries_df = pd.read_json("data/deliveries.jsonl", lines=True)
products_df = pd.read_json("data/products.jsonl", lines=True)
users_df = pd.read_json("data/users.jsonl", lines=True)

# adding a column with time difference in deliveries
adding a column with time difference between purchase_timestamp and delivery_timestamp in deliveries table

1. Split both columns into date and time (using "T" as a separator).
2. Cut microseconds from delivery time, so it will be the same format as purchase_time, because there are no microseconds in purchase_time (using "." as a separator).

In [4]:
# 1.
deliveries_df[["purchase_date", "purchase_time"]] = deliveries_df["purchase_timestamp"].str.split('T', expand=True)
deliveries_df[["delivery_date", "delivery_time"]] = deliveries_df["delivery_timestamp"].str.split('T', expand=True)

# 2.
deliveries_df["delivery_time"] = deliveries_df["delivery_time"].str.split('.', expand=True)[0]


deliveries_df

,purchase_id,purchase_timestamp,delivery_timestamp,delivery_company,purchase_date,purchase_time,delivery_date,delivery_time
0,20001,2022-03-04T12:00:32,2022-03-05T04:43:47.640132,516.0,2022-03-04,12:00:32,2022-03-05,04:43:47.640132
1,20002,2022-02-24T09:04:00,2022-02-24T00:01:00.867462,516.0,2022-02-24,09:04:00,2022-02-24,00:01:00.867462
2,20003,2022-02-23T01:05:44,2022-02-24T08:09:17.876153,620.0,2022-02-23,01:05:44,2022-02-24,08:09:17.876153
3,20004,2022-01-12T19:51:01,2022-01-15T16:13:50.809136,360.0,2022-01-12,19:51:01,2022-01-15,16:13:50.809136
4,20005,2022-03-16T20:50:14,2022-03-20T08:42:59.227165,516.0,2022-03-16,20:50:14,2022-03-20,08:42:59.227165
...,...,...,...,...,...,...,...,...
6090,26091,2022-01-18T12:55:47,2022-01-19T00:07:57.042007,620.0,2022-01-18,12:55:47,2022-01-19,00:07:57.042007
6091,26092,2022-03-16T11:41:58,2022-03-18T09:11:26.923651,516.0,2022-03-16,11:41:58,2022-03-18,09:11:26.923651
6092,26093,2022-02-16T03:07:29,2022-02-15T13:01:22.253522,360.0,2022-02-16,03:07:29,2022-02-15,13:01:22.253522
6093,26094,2022-02-13T15:38:43,2022-02-18T01:53:27.643655,516.0,2022-02-13,15:38:43,2022-02-18,01:53:27.643655
6094,26095,2022-01-27T08:57:27,2022-01-26T13:39:08.568754,516.0,2022-01-27,08:57:27,2022-01-26,13:39:08.568754